.contacts {
    margin-top: 28px;
}

.contacts-list__item{
    color: var(--footer-text-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: none;
}

.contacts-list__item:not(:last-child) {
    margin-bottom: 12px;
}

.contacts-list__link {
    color: var(--footer-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: none;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link-adress {
    color: var(--selection-text-color);
}

.contacts-list__item .contacts-list__link:hover,
.contacts-list__item .contacts-list__link:focus {
    color: var(--accent-color);
}