/* Футер */
footer {
    background-color: var(--hero-background-color);
    align-items: baseline;

}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.foot-container {
    display: flex;
    align-items: baseline;
}

.address {
    min-width: 300px;
}

.net-pages {
    flex-basis: auto;
}

.net-pages__title {
    color: var(--selection-text-color);
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

