/* Benefits */
.benefits {
    padding-top: 94px;
    @extend  %section;
}
.benefits-container{
    @extend %container; 
}

.benefits__title {
    @extend %section-title;
    @extend %visually-hidden;
}

.benefits__set {
    display: flex;
    @extend %list;
}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__icon {
    display: flex;
    background-color: $color-background-section-team;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.benefits__icon-svg{
    width: 70px;
    height: 70px;
}

.benefits__name {
    margin-bottom: 10px;
    color: $color-text-main;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits__text {
    width: 270px;

    color: $color-text-additional;
    line-height: 1.71;
    font-size: 14px;
}