
    $color-text-main: #212121;
    $color-text-additional:#757575;
    $color-text-selection:#FFFFFF;
    $color-background-main:#FFFFFF;
    $color-backround-hero:#2F303A;
    $color-background-hero-new:#C4C4C4;
    $color-background-section-work:#F5F5F5;
    $color-background-section-team:#F5F4FA;
    $color-accent:#2196F3;
    $color-text-footer:rgba(255, 255, 255, 0.6);
    $color-button-main:#2196F3;
    $color-button-active:#188CE8;

    $bg-color:$color-background-main;


    /* raleway-700 - latin */
    @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/raleway-v28-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('/fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/raleway-v28-latin-700.woff2') format('woff2'),
         /* Super Modern Browsers */
        url('/fonts/raleway-v28-latin-700.woff') format('woff'),
         /* Modern Browsers */
        url('/fonts/raleway-v28-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/raleway-v28-latin-700.svg#Raleway') format('svg');
         /* Legacy iOS */
        }
        /* roboto-regular - latin_cyrillic */
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: url('/fonts/roboto-v30-latin_cyrillic-regular.eot');
            /* IE9 Compat Modes */
            src: local(''),
                url('/fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
                /* IE6-IE8 */
                url('/fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
                /* Super Modern Browsers */
                url('/fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'),
                /* Modern Browsers */
                url('/fonts/roboto-v30-latin_cyrillic-regular.ttf') format('truetype'),
                /* Safari, Android, iOS */
                url('/fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto') format('svg');
            /* Legacy iOS */
        }
    
        /* roboto-500 - latin_cyrillic */
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: url('/fonts/roboto-v30-latin_cyrillic-500.eot');
            /* IE9 Compat Modes */
            src: local(''),
                url('/fonts/roboto-v30-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
                /* IE6-IE8 */
                url('/fonts/roboto-v30-latin_cyrillic-500.woff2') format('woff2'),
                /* Super Modern Browsers */
                url('/fonts/roboto-v30-latin_cyrillic-500.woff') format('woff'),
                /* Modern Browsers */
                url('/fonts/roboto-v30-latin_cyrillic-500.ttf') format('truetype'),
                /* Safari, Android, iOS */
                url('/fonts/roboto-v30-latin_cyrillic-500.svg#Roboto') format('svg');
            /* Legacy iOS */
        }
    
        /* roboto-700 - latin_cyrillic */
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            src: url('/fonts/roboto-v30-latin_cyrillic-700.eot');
            /* IE9 Compat Modes */
            src: local(''),
                url('/fonts/roboto-v30-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
                /* IE6-IE8 */
                url('/fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
                /* Super Modern Browsers */
                url('/fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'),
                /* Modern Browsers */
                url('/fonts/roboto-v30-latin_cyrillic-700.ttf') format('truetype'),
                /* Safari, Android, iOS */
                url('/fonts/roboto-v30-latin_cyrillic-700.svg#Roboto') format('svg');
            /* Legacy iOS */
        }
    
        /* roboto-900 - latin_cyrillic */
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            src: url('/fonts/roboto-v30-latin_cyrillic-900.eot');
            /* IE9 Compat Modes */
            src: local(''),
                url('/fonts/roboto-v30-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'),
                /* IE6-IE8 */
                url('/fonts/roboto-v30-latin_cyrillic-900.woff2') format('woff2'),
                /* Super Modern Browsers */
                url('/fonts/roboto-v30-latin_cyrillic-900.woff') format('woff'),
                /* Modern Browsers */
                url('/fonts/roboto-v30-latin_cyrillic-900.ttf') format('truetype'),
                /* Safari, Android, iOS */
                url('/fonts/roboto-v30-latin_cyrillic-900.svg#Roboto') format('svg');
            /* Legacy iOS */
        }
        
body {
    background-color: $color-background-main;
    color: $color-text-main;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

label a {
    color: $color-accent;
    text-decoration-skip-ink: none;
}

footer {
    background-color: $color-backround-hero;
    align-items: baseline;

}